

<div class="profile-container">
    <div class="earncoins-title">
        <h1>
            <span class="fa fa-anchor"></span> Profile Overview</h1>
    </div>

    <div class="container">
        <div class="row">
            <div style="text-align: center;" class="col-sm-12 col-md-4">
                <img src={{user.profileimgurl}} height="140px" width="140px" class="rounded-circle"  alt="profile picture">
                <h2>Hello {{user.username}}</h2>
                <div class="profile-userbuttons">
                    <a class="profile-btn btn btn-primary" href="/profile/overview">Overview</a>
                    <a class="profile-btn btn btn-primary" href="/profile/settings">Settings</a>
                    <a class="profile-btn btn btn-primary" href="/profile/orders">Orders</a>
                    <a class="profile-btn btn btn-primary" href="/profile/addcoin">add coin</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <p>overview</p>

            </div>

        </div>


    </div>
</div>