<nav class="ecnavbar navbar navbar-expand-lg navbar-dark" style="">
  <div class="container">
  <a class="navbar-brand" href="#">Earn coins</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/earncoins/offerwall">Offer Wall <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/earncoins/daily">Daily Bonus</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/earncoins/videos">Watch Videos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/earncoins/invite">Invite Friends</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/earncoins/code">Redeem Code</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link"href="/earncoins/Buy">Buy Coins </a>
      </li>
     
    </ul>
  </div>
  </div>
</nav>




