<footer >
  <div class="container">
    <div class="row">
      <div class="title col col-3">
        <h4 >FreeRewards</h4><br>
       
      </div>
       <div class="pages col col-3">
           <ul>
          <li> <a href="#">FAQ</a> </li>
          <li> <a href="#">Contact Us</a> </li>
          <li> <a href="#">Blog</a> </li>
          <li>  <a href="#">Terms of Service</a> </li>
          <li>  <a href="#">Cookie Policy</a> </li>
        </ul>
      </div>
      <div class="help col col-3">
        <h4 >Need Help ?</h4><br>
        <p>Info@freerewards.com</p><br>
        <p>Aviable 24/7. max 24h to answer</p>
      </div>
    </div>
  </div>
</footer>







<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">  



