<footer class="footer">
  <div class="container ft">
    <div class="row">
      <div class="col-lg-6 offset-lg-1 col-sm-12">
        <h5 class="white-text">Freereward</h5>
        <p class="grey-text text-lighten-4">Earn coins and get your favourite games ! <span class='redirect'><a href="/earncoins/offerwall">Start now</a></span> </p>
      </div>
      <div class="col-lg-2 offset-lg-1 col-sm-12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <a class="footer-a" href="/prizes">Prizes</a>
          </li>
          <li>
            <a class="footer-a" href="/earncoins/offerwall">Earn Coins</a>
          </li>
          <li>
            <a class="footer-a" href="/support">Support</a>
          </li>
          <li>
            <a class="footer-a" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
 
 <div class="footer-text">
    
      <div class="l">
        <div class="container">
      <p id="a" class="offset-lg-1 ">Made With ❤ From Tunisia</p>
    </div>
    </div>
  
  </div>




</footer>


