<div class="container">

  {{#if errors}} 

  {{#each errors}}
 
  <script>
    $(document).ready(function () {
      $.notify({
        // options
        //icon: 'glyphicon glyphicon-warning-sign',
        //title: 'Bootstrap notify',
        message:'{{this}}',
      //	url: 'https://github.com/mouse0270/bootstrap-notify',
      //	target: '_blank'
    }, {
        // settings
        type: "danger",
        allow_dismiss: true,
        newest_on_top: false,
        placement: {
          from: "top",
          align: "right"
        },
        offset: 70,
        spacing: 10,
        z_index: 1031,
        delay: 4000,
        timer: 2000,
        mouse_over: ' pause'
      });
      
  })

  </script> {{/each}}

{{/if}} {{#if success}} {{#each success}}
<script>
    $(document).ready(function () {
      $.notify({
        // options
        //icon: 'glyphicon glyphicon-warning-sign',
        //title: 'Bootstrap notify',
        message:'{{this}}',
      //	url: 'https://github.com/mouse0270/bootstrap-notify',
      //	target: '_blank'
    }, {
        // settings
        type: "success",
        allow_dismiss: true,
        newest_on_top: false,
        placement: {
          from: "top",
          align: "right"
        },
        offset: 70,
        spacing: 20,
        z_index: 1031,
        delay: 4000,
        timer: 2000,
        mouse_over: ' pause'
      });
      
  })

  </script>
{{/each}}

{{/if}}

</div>