
{{!-- DISABLED FOR NOW --}}

<link rel="stylesheet" type="text/css" href="/stylesheets/prizes.css">

<div class="container">
	
	<div class="row">
		<div class="col">	
			<div class="category" style="width: 20rem;">
				<a href="/prizes/games">
					<div class="games">
						<i class="fa fa-gamepad fa-5"></i>
						<h4 class="games">Games</h4>
					</div>
				</a>
			</div>
			
		</div>
		<div class="col">
			<div class="category" style="width: 20rem;">
				<a href="/prizes/gadgets">
					<div class="gadgets">
						<i class="fa fa-laptop fa-5"></i>
						<h4 class="gadgets">Gadgets</h4>


					</div>
				</a>
			</div>
		</div>
		<div class="col">
			<div class="category" style="width: 20rem;">
				<a href="/prizes/giftcards">
					<div class="gift-cards">
						<i class="fa fa-shopping-cart fa-5"></i>

						<h4 class="gift-cards">Gift Cards</h4>


					</div>
				</a>
			</div>
		</div>
	</div>
	
</div>