<h3>{{game.title}}</h3>
<h2>Quantity 1</h2>
<h3>{{game.price}}</h3>
<form id="frm" action="/prizes/{{game.title}}/redeem/confirm" method="post" onsubmit="return submitionOnce()">
    {{!--
    <input id="sub" class="btn btn-primary" onclick='' type="submit" value="confirm"> --}}
    <button class="btn btn-primary" type="submit">confirm</button>
    <input type="hidden" name="_csrf" value="{{csrfToken}}"> {{!-- onclick="this.disable = true" --}}
</form>

<script>
    var allowSubmit = true;
    function submitionOnce() {
        if (allowSubmit == true) 
            allowSubmit = false;
        else 
            return false   
    }
</script>