<div class="container">
    <div class="row justify-content-center">
        <div id="email-container" class="col-md-8 alert alert-success" role="alert">
<h4> Registration email sent to <strong> {{userEmail}}</strong>. </h4>
            <h5>Open this email to finish signup. If you don't see this email in your inbox within
            15 minutes, look for it in your junk mail folder. If you find it there, please mark the email as "Not Junk".
       </h5>
       <p>didnt recieve email ? <a href="/resendToken"> Resend</a> confirmation</p> 
        </div>
    </div>
</div>