<div class="login container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Login</div>

        <div class="card-body">
          <form method="POST" action="/user/login" onsubmit="return submitionOnce()">
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
            <div class="form-group row">
              <label for="username" class="col-sm-4 col-form-label text-md-right">Username:</label>

              <div class="col-md-6">
                <input id="username" type="text" name="username" class="form-control" value="{{username}}" required autofocus>

              </div>
            </div>

            <div class="form-group row">
              <label for="password" class="col-md-4 col-form-label text-md-right">Password:</label>

              <div class="col-md-6">
                <input id="password" type="password" class="form-control" name="password" required>

              </div>
            </div>


            <div class="capatcher">
              <div class="g-recaptcha" data-sitekey="6LfGQ00UAAAAAN5PJ9zK7-lM60HByjKHpgfxNEq_"></div>
            </div>
            <div class="form-group row mb-0">
              <div class="col-md-8 offset-md-4">
                <button type="submit" onclick="this.disable = true" class="btn btn-primary">
                  Login
                </button>

                <a class="btn btn-link" href="/password/reset">
                  Forgot Your Password?
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  var allowSubmit = true;
  function submitionOnce() {
    if (allowSubmit == true)
      allowSubmit = false;
    else
      return false
  }
</script>