<div class="row">
  <div class="login-box z-depth-3 col s12 m6 offset-m3 ">
   {{#if errors}}
    <div class="alert alert-danger">
      {{#each errors}}
      <p>{{this}}</p>
      {{/each}}
    </div>
    {{/if}}
    <form class="col s12" method="post" action="/user/login">
      <div class="row">
        <div class="input-field col s12">
          <input  placeholder=""id="username" type="text" name="username" class="validate">
          <label for="username">Username</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input placeholder=""id="password" type="password" name="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <input type="checkbox" id="indeterminate-checkbox" />
      <label for="indeterminate-checkbox">Remember me</label>
      <br>
      <br>
      <button type="submit" class="btn">Login</button>
      <br>
      <a href="#">Forgot password ?</a>
      <br>
      <a href="/user/register">Dont have an account yet ?</a>

    </form>

 

  </div>
</div>

<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">