/*  body{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}
nav{

    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height:80px;
    padding:10px 100px;
    box-sizing: border-box;
    transition: .3s;
}
nav.black{
  background:rgba(0,0,0,1);
  height: 80px;
  padding-top: 10px 100px;
}
nav .logo{
  color:#fff;
  padding :11px 20px;
  height: 50px ;
  float:left;
  font-size: 24px;
  transition: .3s;
}

nav.black .logo{
  color:#fff;

}
nav ul {
  list-style: none;
  float:right;
  margin:0;
  padding: 0;
  display: flex;
}
nav ul li{
  list-style:none;
}
nav ul li a#nava {
font-family: 'Quicksand';
  line-height: 60px;
  
  padding:12px 30px;
  text-transform: uppercase;
  transition: .3s;
  color:#fff;
  text-decoration: none;
}
nav.black ul li a#nava  {
  color:#fff;
  text-decoration: none;
}
nav ul li a:focus{
  outline:none;
  transition: .3s;
  color:black;
}*/
/*nav ul li a.active{
  background: #E2472F;
  color:#fff;
  border-radius: 6px;
  text-decoration: none;
}
*/





















 .heading{
  
  width: 100%;
  height: 100vh;
   background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../images/gaming.jpg');
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}



/*.push{
  background-color:#065A82 ;
}*/

#heading-content{
  padding-top: 170px;
}
#heading-content h1 {
  color: white;
  font-size: 60px;
  letter-spacing: 3px;
}
#heading-content h3 {
  color:white;
  font-size: 30px;
  letter-spacing: 1px;
}


#about{
  height: 40vh;
  margin-top:60px;
  background-color: #FFFFFF;
}
#win-coins{
  height: 60vh;
  text-align: center;

}
section#win-coins hr{
     
    
    width:80%;
    border-width: 4px;

}
section#win-coins .circle{
  height: 90px;
  width: 90px;
  background-color: grey;
  border-radius: 100px;     

}

/*
.about{
  padding-top: 50px;
  text-align: center;
  font-family:  sans-serif;
  margin:0;

  height: 90vh;

}
#about-content h1{
  font-size: 80;

}
.devlogo
{
  margin-left:50px;
}
#about-content .row   {

margin-top: 50px;

}
#about-content .row #text  {

  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color:#383838;

}
.apps{
  
  background-color: #e5e5e5;

}
.apps h1{
  text-align: center;
  padding:30px 0;
}
.apps .projects{

}
.apps div .thumbnail {
  margin:20px 0px 20px 0px;
}

#test{
  background-color: #33414A;
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  transition: .3s;
}
*/