
html, body {
	padding:0px;
 	 margin:0px;
	height: 100%;
}
.body-content{
	 width: 100%;
    word-wrap: break-word;
     min-height: 80vh;
}


.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height 
}

.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
    margin-right:1%;
    width:100%;
}
