{{> earncoinsheader}}


<div class="earncoins-title">
			<h3>Redeem code</h3>
     
<form method="post" action="/earncoins/code">
<input type="hidden" name="_csrf" value="{{csrfToken}}" />

<input type="text" class="form-control" name="redeemcode">
<button type='submit' class="btn btn-primary">Submit</button>
</form>

</div>