{{> earncoinsheader}}
 <div class="earncoins-title">
             <h3 >Reffer a friend</h3>
             <small>Beta Version Refferal System</small>
             <h4>www.domain.com/ref/{{refUrl}}</h4>
        </div>