{{> earncoinsheader}}
{{#each missionsToDisplay}}
<p>{{this.title}}</p>
<form method="post" action="/earncoins/missions/{{this.id}}">
<button onClick="window.open('https://{{this.link}}')" class="btn btn-success">Go</button>
</form>
{{/each}}


<iframe 
        src="https://wall.superrewards.com/super/offers?h=kimfrysdsik.283744631540&uid={{user.email}}" 
        frameborder="0" 
        width="728" height="1750" scrolling="no">
</iframe>