{{> earncoinsheader}} 
{{#each missionsToDisplay}}
<form method="post" action="/earncoins/missions/{{this.id}}">
    <p>{{this.title}}</p>



    <button type="submit" onClick="window.open('https://{{this.link}}')" class="btn btn-success">Go</button>
    
{{/each}}

	<input type="hidden" name="_csrf" value="{{csrfToken}}" />

</form>